.headerContainer {
  display: flex;
  justify-content: space-around;

  button {
    border-radius: 30px;
    background: #366EFF;
    box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    width: 113px;
    height: 36px;
  }
}